<div class="row">
  <div class="row">
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="breadcrumb-topbar">
          <ol class="breadcrumb">
            <li><a href="#">萌萌屋</a></li>
            <li class="<%= "active" if current_page?(new_admin_item_path) %>">
              <%= action_name == "new" ? "新增商品" : "編輯商品" %>
            </li>
          </ol>
        </div>
        <div class="panel-heading">
          <div class="panel-title">
            <%= item_title %>
          </div>
            <div class="panel-options">
              <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
              <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
            </div>
          </div>
        <div class="panel-body">
          <%= form_for [:admin, @item], html: { class: "form-horizontal" } do |f| %>
            <%= render partial: "form", locals: { f: f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>