<div clas="row">
  <div class="content-box-large">
    <div class="pull-right"><%= link_to "編輯商品", edit_admin_item_path(@item), class: "btn btn-default btn-sm" %></div>
    <div class="item-cover-words-intro">
      <div class="cover-intro col-md-4">
        <%= image_tag(@item.intro_cover) %>
      </div>
      <div class="words-intro col-md-7">
        <dl class="dl-horizontal">
          <dt>商品名稱</dt>
          <dd><%= @item.name %></dd>
          <dt>商品價格</dt>
          <dd>NT<%= number_to_currency(@item.price) %></dd>
          <dt>商品敘述</dt>
          <dd><%= raw @item.description %></dd>
        </dl>
      </div>
    </div>
    <br>
    <!-- TODO 改旋轉木馬顯示方式 -->
    <p class="lead">商品圖片</p>
    <%= render partial: "photo_display", locals: { item: @item, photos: @photos } %>
  </div>
</div>