<div class="panel-body">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <div class="pull-right">
      <%= link_to "返回上頁", "#", class: "btn btn-info btn-sm" %>
      <%= link_to "新增圖片", new_admin_item_photo_path, class: "btn btn-primary btn-sm" %>
    </div>
    <hr>
    <thead>
      <tr>
        <th>圖片</th>
        <th>圖片敘述</th>
        <th>操作選項</th>
      </tr>
    </thead>
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td>
            <%= image_tag(photo.image.thumb.url) if photo.present? %>
          </td>
          <td><%= raw photo.photo_intro %></td>
          <td>
            <%= link_to "編輯", edit_admin_item_photo_path(@item, photo), class: "btn btn-default btn-xs" %>
            <%= link_to "刪除", admin_item_photo_path(@item, photo), method: :delete, data: { confirm: "確定刪除?", disable_with: "刪除中..." }, class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>