<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#order-<%= order.id %>-info">
  查看收件明細
</button>
<!-- Modal -->
<div class="modal fade" id="order-<%= order.id %>-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">收件明細</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <% if order.info %>
            <li class="list-group-item">收件人姓名： <%= order.info.ship_name %></li>
            <li class="list-group-item">聯絡電話： <%= order.info.ship_phone %></li>
            <li class="list-group-item">門市店號： <%= order.info_store_code %></li>
            <li class="list-group-item">門市名稱： <%= order.info_store_name(order.info_store_code) %></li>
            <li class="list-group-item">門市地址： <%= order.info_store_address(order.info_store_code) %></li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>