<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#order-<%= order.id %>-items">
  查看商品明細
</button>
<!-- Modal -->
<div class="modal fade" id="order-<%= order.id %>-items" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">商品明細</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr class="active">
              <th>商品名稱</th>
              <th>購買數量</th>
              <th>商品單價</th>
            </tr>
          </thead>
          <tbody>
            <% if order.items %>
              <% order.items.each do |item| %>
                <tr class="success">
                  <td><%= item.item_name %></td>
                  <td><%= item.item_quantity %></td>
                  <td><%= item.item_price %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>                                                  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>