<div class="panel-body">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>      
      <tr>
        <th>編號</th>
        <th>訂購用戶</th>
        <th>總金額</th>
        <th>訂單狀態</th>
        <th>收件明細</th>
        <th>商品明細</th>
        <th>操作選項</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= link_to order.info_user_name, admin_user_path(order.user) %></td>
          <td><%= order.total %></td>
          <td>
            <%= link_to "新增訂單", "#", class: "btn btn-default #{order.status == "order_placed" ? "btn-lg" : "btn-xs"}" %>
            <%= link_to "已出貨", item_shipping_admin_order_path(order), method: :post, class: "btn #{order.status == "item_shipping" ? "btn-primary btn-lg" : "btn-default btn-xs"}" %>
            <%= link_to "完成取貨", item_shipped_admin_order_path(order), method: :post, class: "btn #{order.status == "item_shipped" ? "btn-success btn-lg" : "btn-default btn-xs"}" %>
            <%= link_to "訂單取消", order_cancelled_admin_order_path(order), method: :post, class: "btn #{order.status == "order_cancelled" ? "btn-warning btn-lg" : "btn-default btn-xs"}" %>
          </td>

          <!-- 收件明細 -->
          <td>
            <%= render partial: "info_list", locals: { order: order } %>
          </td>

          <!-- 商品明細 -->
          <td>
            <%= render partial: "items_list", locals: { order: order } %>
          </td>

          <td>
            <ul class="list-unstyled">
              <li><%= link_to "查看" %></li>
              <li><%= link_to "編輯" %></li>
              <li><%= link_to "刪除" %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>