<div class="panel-body">
  <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
    <thead>      
      <tr>
        <th>編號</th>
        <th>訂購用戶</th>
        <th>總金額</th>
        <th>訂單狀態</th>
        <th>收件明細</th>
        <th>商品明細</th>
        <th>操作選項</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user.user_name %></td>
          <td><%= order.total %></td>
          <td><%= order_status(order.status) %></td>
          <!-- TODO -->
          <td>
            <%= render partial: "info_list", locals: { order: order } %>
          </td>
          <!-- TODO -->
          <td>
            <%= render partial: "items_list", locals: { order: order } %>
          </td>

          <td>
            <li><%= link_to "查看" %></li>
            <li><%= link_to "編輯" %></li>
            <li><%= link_to "刪除" %></li>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>