<div class="row">
  <div class="col-md-10">
    <div class="content-box-large">
      <div class="panel-heading">
        <div class="panel-title">
          新增商品樣式
        </div>
          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
          </div>
        </div>
      <div class="panel-body">
        <%= form_for [:admin, @item, @item_spec], html: { class: "form-horizontal" } do |f| %>

          <div class="form-group">
            <%= f.label :style, "樣式名稱", class: "col-sm-2 control-label" %>            
            <div class="col-sm-10">
              <%= f.text_field :style, class: "form-control", placeholder: "請輸入名稱", required: true %>
            </div>
          </div>

          <div class="form-group">            
            <%= f.label :style_amount, "樣式數量", class: "col-sm-2 control-label" %>    
            <div class="col-sm-10">
              <%= f.number_field :style_amount, class: "form-control", placeholder: "請輸入數量", required: true %>
            </div>
          </div>
          
          <div class="form-group">
            <%= f.label :style_pic, "上傳樣式圖片", class: "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <%= f.file_field :style_pic, class: "form-control" %>
            </div>
          </div>
        
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "確認送出", class: "btn btn-primary" %>
              <%= link_to "取消離開", admin_item_item_specs_path(@item), class: "btn btn-warning" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>