<div class="row">
  <div class="col-md-10">
    <div class="content-box-large">
      <div class="breadcrumb-topbar">
      <ol class="breadcrumb">
        <li><a href="<%= staff_root_path %>">萌萌屋</a></li>
        <li><a href="<%= staff_item_path(@item) %>"><%= @item.name %></a></li>
        <li class="<%= "active" if current_page?(controller: "staff/photos") %>">
          新增樣式
        </li>
      </ol>
    </div>
      <div class="panel-heading">
        <div class="panel-title">
          新增商品樣式
        </div>
          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
          </div>
        </div>
      <div class="panel-body">
        <%= render(partial: "spec_form") %>
      </div>
    </div>
  </div>
</div>