<div>
  <h1>請登入</h1>
  <div>
    <%= form_tag signin_path do %>
      <%= label_tag :email, "Email", placeholder: "請輸入Email" %>
      <%= email_field_tag :email, nil %>
      <hr>
      <%= label_tag :password, "密碼", placeholder: "請輸入密碼" %>
      <%= password_field_tag :password, nil %>
      <hr>
      <%= submit_tag "確認" %>
    <% end %>
  </div>
</div>