<div class="row">
  <div class="row">
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="breadcrumb-topbar">
          <ol class="breadcrumb">
            <li><a href="#">首頁</a></li>
            <li class="<%= "active" if current_page?(controller: "admin/categories", action: "index") %>"><a href="<%= admin_categories_path %>">分類列表</a></li>
            <li class="<%= "active" if current_page?(controller: "admin/categories", action: "new") %>">新增分類</li>
          </ol>
        </div>
        <div class="panel-heading">
          <div class="panel-title">新增分類</div>
          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <%= form_for [:admin, @category], html: { class: "form-horizontal" } do |f| %>
            <%= render partial: "form", locals: { f: f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>