<div clas="row">
  <div class="content-box-large">
    <h2>用戶名稱：<%= @user.user_name %></h2>
    <div class="user-infos well">
      <p class="lead">用戶資料：</p>
      <dl class="dl-horizontal">
        <dt>真實姓名</dt>
        <dd><%= @user.real_name %></dd>
        <dt>性別</dt>
        <dd><%= @user.gender %></dd>
        <dt>註冊地址</dt>
        <dd><%= @user.address %></dd>
        <dt>註冊電話</dt>
        <dd><%= @user.phone %></dd>
        <dt>UID</dt>
        <dd><%= @user.uid %></dd>
      </dl>
    </div>
    <div class="user-orders-list well">
      <p class="lead">用戶訂單：</p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>訂單編號</th>
            <th>訂單金額</th>
            <th>訂單狀態</th>
            <th>收件明細</th>
            <th>商品明細</th>
          </tr>
        </thead>
        <tbody>
          <% @user.orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.total %></td>
              <td><%= order_status(order.status) %></td>
              <td>
                <%= render partial: "admin/orders/info_list", locals: { order: order } %>
              </td>
              <td>
                <%= render partial: "admin/orders/items_list", locals: { order: order } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
  </div>
</div>