<!DOCTYPE html>
<html>
  <head>
    <title>萌萌屋</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "admin", media: "all" %>
    <%= yield :form_css %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <%= render "layouts/navbar" %>
    </div>

    <div class="page-content">
      <div class="row">
        <div class="col-md-2">
          <%= render "layouts/sidebar" %>
        </div>        
        <div class="col-md-10">
          <%= notice_message %>
          <!-- Main Content -->
          <%= yield %>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">       
        <div class="copy text-center">
          © 2016 Copyright.
        </div>          
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery.js"></script>
    <%= javascript_include_tag "admin" %>
    <%= yield :form_javascript %>
  </body>
</html>